@model IEnumerable<Klinika.Data.Data.CMS.OpeningHours>
@*Jeżeli na początku widoku znajduje się w.w.k to oznacza to że widok będzie działał na kolekcji (zbiorze) stron*@

@*<div class="align-items-center d-none d-md-flex">
    @foreach(var item in Model)
    {
        <i class="bi bi-clock"></i><i>@item.Dzien</i><i>@item.GodzinaOtwarciaOd</i><i> : </i><i>@item.GodzinaOtwarciaDo</i>
    }
</div>*@