@{
    ViewData["Title"] = "Parametr";
}

<div class="row">

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="GeneralParameter" asp-action="Index">Ogólne</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-telephone-fill" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="GeneralContact" asp-action="Index">Contact</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-clock" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="OpeningHours" asp-action="Index">Clock</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-map" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="GeneralAddress" asp-action="Index">Address</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-clipboard-minus" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="GeneralGallery" asp-action="Index">Address</a>
        </div>
    </div>


    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-card-checklist" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a href="#" class="btn btn-primary">Usługi</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-door-open" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a href="#" class="btn btn-primary">Oddziały</a>
        </div>
    </div>

</div>

